<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LearnWebdevWithElixir · Phoenix Framework</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="nav blog-nav">
          <a class="nav-link active" href="/">Home</a>
          <a class="nav-link" href="#">About</a>
          <a class="nav-link" href="#">Contact Us</a>
        </nav>
      </div>
    </div>

    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">Learn Web Development with Elixir</h1>
        <p class="lead blog-description">Elixir Web development blog</p>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 blog-sidebar">
          <div class="sidebar-module">
            <h4>Posts</h4>
            <ul class="list-styled">
              <%= if @posts do %>
                <%= for post <- @posts do %>
                  <li><%= link post.title, to: Routes.post_path(@conn, :show, post) %></li>
                <% end %>
              <% end  %>
            </ul>
          </div>
        </div>

        <div class="col-sm-8">
          <main role="main" class="container">
            <% if get_flash(@conn, :info) do %>
              <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <% end %>
            <% if get_flash(@conn, :error) do %>
              <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
            <% end %>
            <%= render @view_module, @view_template, assigns %>
          </main>
        </div>
      </div>
    </div>

    <footer class="blog-footer">
      <p>Web dev with Elixir</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
